@import "../../responsive.scss";

.signin-container {
    padding: 1rem;
    max-width: 40rem; // 768px
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .signin-title {
            color: #1f3e72;
            font-size: 48px;
            font-weight: 700;
        }

        .underline {
            width: 61px;
            height: 6px;
            background-color: #1f3e72;
            border-radius: 9px;
        }
    }

    .signin-form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 50px;
        align-items: center;

        .signin-input {
            display: flex;
            align-items: center;
            margin: auto;
            width: 471px;
            height: 60px;
            border: 1px solid #ccc;
            background: #eaeaea;
            border-radius: 0.5rem;

            img {
                margin: 0px 30px;
            }

            input {
                height: 50px;
                width: 360px;
                background: transparent;
                border: none;
                outline: none;
            }
        }

        .buttons {
            display: flex;
            gap: 30px;
            margin: 10px auto;

            .signin-button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 59px;
                color: #fff;
                background: #1f3e72;
                border-radius: 50px;
                font-size: 19px;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    scale: 1.05;
                    transition: all ease 0.4s;
                }
            }
        }
    }

    .signin-footer {
        display: flex;
        gap: 0.5rem;
        margin-top: 1.25rem;

        .signup-link {
            color: #1d4ed8; // Tailwind blue-700

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .signin-error {
        color: #ef4444; // Tailwind red-500
        margin-top: 1.25rem;
    }
}