.c-container {
    justify-content: space-around;
    gap: 0.5rem;
}

.c-container > img {
    width: 18rem;
    height: 9rem; /* Ensures all images have the same height */
    object-fit: cover; /* Maintains the aspect ratio and fills the container */
}
